<%= semantic_form_for @task do |f| %>
  <div class="col-xs-4 task-left-panel">
    <div class="row">
      <div class="col-xs-12">
      <%= f.input :name, :required => true, :label => "Task name" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
      <%= f.input :category, :as => :select, :collection => ["Websites IT & Software", "Mobile", "Writing", "Design", "Data Entry", "Product Sourcing & Manufacturing", "Sales & Marketing", "Accounting", "Legal", "Custom"], :required => true %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
          <%= f.input :secondary_address %>
          <%= f.input :street_address, :required => true %>
          <%= f.input :city, :required => true %>
          <%= f.input :postcode, :required => true %>
          <%= f.input :country, :required => true %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= f.input :volunteer_size, :label => "Number of volunteers required" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= f.input :scheduled, :required => true, :as => :date_select, :start_year => Time.now.year %>
      </div>
    </div>
  </div><!-- col-xs-4 -->
  <div class="col-xs-8 main-panel">
    <div class="row">
      <div class="col-xs-12">
        <div class="select input optional control-group" id="task_competencies_input">
          <label class=" control-label" for="task_competency_ids">Competencies</label>
          <div class="controls">
            <input name="task[competency_ids][]" type="hidden" value="" />
            <select id="task_competency_ids" name="task[competency_ids][]"  multiple data-role="tagsinput"></select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= f.input :description %>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= f.actions %>
      </div>
    </div>
  </div>

<% end %>
<script>
$('.bootstrap-tagsinput input').typeahead({
  valueKey: 'text',
  prefetch: '/competencies'
}).bind('typeahead:selected', $.proxy(function (obj, datum) {
  this.tagsinput('add', datum);
  this.tagsinput('input').typeahead('setQuery', '');
}, $('.bootstrap-tagsinput input')));
</script>