<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :class => "form-control") do |f| %>
  <%= devise_error_messages! %>
  <div class="row">
    <div class="col-xs-6">
      <div class="input-group text-center">
        <span class="input-group-addon left">
          <%= radio_button_tag(:type, "Volunteer") %>
        </span>
        <%= label_tag(:type_volunteer, "I want to volunteer", :class => "form-control") %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="input-group text-center">
        <span class="input-group-addon left">
          <%= radio_button_tag(:type, "Sponsor") %>
        </span>
        <%= label_tag(:type_sponsor, "I represent a non-profit", :class => "form-control") %>
      </div>
    </div>
  </div><!-- row -->
  <div class="row">
    <br>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="input-group">
        <span class="input-group-addon left">
          <%= f.label :email%>
        </span>
        <%= f.email_field :email, :autofocus => true, :class => "form-control", :id => "email-input" %>
      </div>
      <br>
      <% if @user.password_required? %>
        <div class="input-group">
          <span class="input-group-addon left">
            <%= f.label :password %>
          </span>
          <%= f.password_field :password, :class => "form-control" %>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon left">
            <%= f.label :password_confirmation, "Confirm" %>
          </span>
          <%= f.password_field :password_confirmation, :class => "form-control" %>
        </div>
        <br>
      <% end %>
    </div>
  <div class="col-xs-6">
  <div class="input-group">
    <span class="input-group-addon left">
      <%= f.label :name %>
    </span>
    <%= f.text_field :name, :class => "form-control" %>
  </div><br>
  <div class="input-group">
    <span class="input-group-addon left">
      <%= f.label :position_title, "Position" %>
    </span>
    <%= f.text_field :position_title, :class => "form-control" %>
  </div><br>
  <div class="input-group" id="work-place">
  <span class="input-group-addon left">
    <%= label_tag :company, "Work Place" %>
  </span>
  <%= text_field_tag :company, nil, :class => "form-control" %>
  </div>
  </div>
  </div><!-- row -->
  <div class="row">
    <div class="col-xs-6 text-center">
      <div id="logo-result">
      </div>
      <input type="hidden" value="" id="hidden-logo" name="hidden-logo">
    </div>
    <div class="col-xs-6 text-center">
      <%= f.submit "Sign up" %> or <%= link_to "sign in", new_user_session_path %> with a password.
    </div>
  </div><!-- row -->
<% end %>

<script type="text/javascript">

  jQuery('#email-input').on('focusout', function(event) {
    var email = $(this).val();
    var domain = email.match(/([\w\.]+)$/)[0];
    jQuery("#logo-result").html("<img src='http://scrapelogo.com/wp-content/uploads/2012/12/ajax-loader.gif' style='vertical-align:middle'> We haven't scraped this domain before. It may take a minute. If a logo is found, next time it'll be just a few miliseconds.");
    jQuery.ajax({
      url: "http://data.scrapelogo.com/"+domain+"/logo",
      type: "GET"

    })
    .complete(function(jqXHR, textStatus) {
      console.log("fetched")
      if (jqXHR.status!=404) {
        jQuery('#logo-result').html("<p><img src='http://data.scrapelogo.com/"+ domain +"/nlogo'></p><p><a href='http://data.scrapelogo.com/report.php?domain="+ domain +"' style='font-size:9pt'>Report incorrect logo</a> | <a href='always-up-to-date?domain="+ domain +"' style='font-size:9pt'>Suggest a better logo</a></p>");
        jQuery('#hidden-logo').val("http://data.scrapelogo.com/"+ domain +"/nlogo");
      }
      else {
       jQuery('#logo-result').html("<span style='color:red'>No logo found :( Please <a href='always-up-to-date?domain="+ domain +"'>suggest a logo</a></span>");
      }
    });
  });

</script>

