<div class="row">
  <div class="col-xs-12 see-me">
    <h1>This is the homepage</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div><!-- /row -->
<div class="row">
  <div class="banner col-xs-12">


  </div>
</div><!-- /row -->

<div class="row">
  <div class="non-profits col-md-3 well">
    <h1 class="text-center main-heading">Non Profits</h1>
    <div class="view-window">
      <%= render partial: "business", collection: @non_profits, as: :business %>
    </div>
    <div class="create-new non-profit col-md-3">
      <i class="fa fa-plus-circle fa-4x"></i>
    </div>
  </div><!-- non-profits -->

  <div class="tasks col-md-6">
    <div class="row">
      <div class="col-xs-12 text-center">
        <% @competencies.each do |competency| %>
          <a href="/filter/<%= competency.name %>"class="btn btn-success"><h4><%= competency.name %><span class="badge pull-right"><%= competency.tasks.length %></span></h4></a>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="view-window">
          <%= render partial: "tasks/singletask", collection: @tasks, as: :task %>
        </div>
      </div>
    </div>
  </div><!-- tasks -->

  <div class="corporates col-md-3 well">
    <h1 class="text-center main-heading">Companies</h1>
    <div class="view-window">
      <%= render partial: "business", collection:@companies, as: :business %>
    </div>
    <div class="create-new corporate see-me">
    </div>
  </div><!-- corporates -->
</div><!-- /row -->


